#hero {
  background-color: #fef9f3;
  padding-top: 8vh;
}

#hero h1 {
  text-align: center;
  font-size: 8.4rem;
  line-height: 1.071;
  max-width: 900px;
  margin-top: 0;
  margin-bottom: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--blue);
  padding-bottom: 5vh;
}

#hero #projectImage {
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

#skillsList {
 display: flex;
 margin-left: 10rem;
 gap: 3rem;
}
#skillsList li{
 width: 140px;
 height: 40px;
 border-radius: 40px;
 list-style: none;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
}
#skillsList li h3{
 margin: 0;
 color: #FFF;
}

#skillsList li.next{
 background-color: #000;
}
#skillsList li.html{
 background-color: #E44D26;
}
#skillsList li.css{
 background-color: #1F72B6;
}
#skillsList li.javascript{
 background-color: #F0DB4F;
}
#skillsList li.javascript h3{
 color: #323330;
}
#skillsList li.bootstrap{
 background-color: #7723F7;
}
#skillsList li.react{
 background-color: #61DAFB;
}
#skillsList li.react h3{
 color: #303030;
}
#skillsList li.python{
 background-color: #306998;
}
#skillsList li.django{
 background-color: #092E1F;
}
#skillsList li.chalice{
 background-color: #36BFA5;
}
#skillsList li.aws{
 background-color: #FAA41C;
}
#skillsList li.aws h3{
 color: #0f1111;
}
#skillsList li.docker{
 background-color: #2A91E2;
}
#skillsList li.postgresql{
 background-color: #336791;
}
#skillsList li.sql{
 background-color: #3298DA;
}
#skillsList li.arduino{
 background-color: #008284;
}
#skillsList li.cpp{
 background-color: #6296CC;
}


#about .description {
  display: flex;
  justify-content: center;
}

#about .description #projectDescription {
 width: 70%;
}

#about p.project-description {
  text-align: justify;
}

@media only screen and (max-width: 1024px) {
  #hero h1 {
    font-size: 5.5rem;
    padding-bottom: 1vh;
  }
}

@media only screen and (max-width: 768px) {
  #hero h1 {
    font-size: 5.2rem;
  }
}

@media only screen and (max-width: 600px) {
  #hero h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 370px) {
  #hero {
    padding-top: 6.5rem;
  }
}
